.level-2-stage {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 390px;
  justify-content: space-between;
}

.sliders-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0px;
  height: 100px;
}

.goal-block {
  height: 100px;
  width: 100px;
  background-color: rgb(153, 102, 255);
}
