.level-2-stage {
  display: flex;
  flex-direction: row;
}

.slider-container {
  display: flex;
  flex-direction: column;
}

.goal-block {
  height: 100px;
  width: 100px;
  background-color: rgb(153, 102, 255);
}
